<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1> -->
    
    <div class="canvas" id="js-canvas"></div>
    <div class="properties-panel-parent" id="js-properties-panel" style="display: none">
            <button title="create new BPMN diagram" id="hidePanel">
                    <span class="fas fa-caret-square-right"></span>
                </button>
    </div>

    <!-- <div class="io-alerts">
    
        <div class="io-control alertImport ">
            <a href="" class="closeAlert" aria-hidden="true">×</a>
            Diagram may not render correctly due to import warnings.
    
            <a href="">Show details</a>.
        </div>
    
        <div class="io-control alertEdit openEdit">
            You edited the diagram.
    
            <a href="">Undo last change</a>.
    
            <a href="" class="closeAlert" aria-hidden="true">×</a>
        </div>
    
    </div> -->

    <div class="io-import-export">
    
        <ul class="io-import io-control io-control-list io-horizontal">
            <li>
                <input style="display:none;" id="fileDialog" type="file" accept=".bpmn"/>
                <button title="open BPMN diagram from local file system" id="openLocal">
                    <span class="fas fa-folder-open"></span>
                </button>
            </li>
            <li class="vr" style="margin-left: 2px"></li>
            <li>
                <button title="create new BPMN diagram" id="createNew">
                    <span class="fas fa-plus-circle"></span>
                </button>
            </li>
        </ul>
    
        <ul class="io-export io-control io-control-list io-horizontal noHover">
            <li>
                <a target="_blank" href="" class="download" title="download BPMN diagram" id="downloadDiagram"
                    data-track="diagram:download-bpmn">
                    <span class="fas fa-download"></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="" class="download" title="download as SVG image" id="downloadSVG"
                    data-track="diagram:download-svg">
                    <span class="fas fa-image"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="vertical" id="editPanel">
        Properties Panel
    </div>

    <div class="io-editing-tools" jswidget="editing-tools" style="display: block;">
        <ul class="io-control-list io-horizontal">
            <li class="io-control" id="keyboard_li">
                <button title="Toggle keyboard shortcuts overlay" id="showKeyboard">
                    <span class="fas fa-keyboard"> </span>
                </button>
            </li>
            <li class="io-control" id="fullscreen_li">
                <button title="Toggle Fullscreen" jsaction="click:bio.toggleFullscreen" id="toggleFullscreen">
                    <span class="fas fa-arrows-alt-v"> </span>
                </button>
            </li>
            <!-- <li class="io-control hidden" id="editPanel">
                <button title="Toggle Panel" jsaction="click:bio.togglePanel">
                    <span class="fas fa-edit"> </span>
                </button>
            </li> -->
        </ul>
    </div>

    <div class="io-zoom-controls">
        <ul class="io-zoom-reset io-control io-control-list">
            <li>
                <button title="reset zoom" jsaction="click:bio.zoomReset" id="zoomReset">
                    <span class="fas fa-crosshairs"></span>
                </button>
            </li>
        </ul>
    
        <ul class="io-zoom io-control io-control-list">
            <li>
                <button title="zoom in" jsaction="click:bio.zoomIn" id="zoomIn">
                    <span class="fas fa-plus"></span>
                </button>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <button href="" title="zoom out" jsaction="click:bio.zoomOut" id="zoomOut">
                    <span class="fas fa-minus"></span>
                </button>
            </li>
        </ul>
    </div>

    <div class="io-dialog keybindings-dialog open" id="initiallyHiddenBlock" jswidget="keybindings-dialog">
    
        <div class="content bindings-mac">
            <h1>Keyboard Shortcuts</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Search</td>
                        <td class="binding">⌘ + F</td>
                    </tr>
                    <tr>
                        <td>Undo</td>
                        <td class="binding">⌘ + Z</td>
                    </tr>
                    <tr>
                        <td>Redo</td>
                        <td class="binding">⌘ + ⇧ + Z</td>
                    </tr>
                    <tr>
                        <td>Select All</td>
                        <td class="binding">⌘ + A</td>
                    </tr>
                    <tr>
                        <td>Scrolling (Vertical)</td>
                        <td class="binding">⌥ + Scrolling</td>
                    </tr>
                    <tr>
                        <td>Scrolling (Horizontal)</td>
                        <td class="binding">⌥ + ⇧ + Scrolling</td>
                    </tr>
                    <tr>
                        <td>Direct Editing</td>
                        <td class="binding">E</td>
                    </tr>
                    <tr>
                        <td>Hand Tool</td>
                        <td class="binding">H</td>
                    </tr>
                    <tr>
                        <td>Lasso Tool</td>
                        <td class="binding">L</td>
                    </tr>
                    <tr>
                        <td>Space Tool</td>
                        <td class="binding">S</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    
    </div>

  </body>
</html>