<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1> -->
    
    <div class="canvas" id="js-canvas"></div>
    <div class="properties-panel-parent" id="js-properties-panel">
        <i class="far fa-caret-square-right"></i>
    </div>

    <div class="io-import-export">
    
        <ul class="io-import io-control io-control-list io-horizontal">
            <li>
                <button title="open BPMN diagram from local file system" jsaction="click:bio.openLocal">
                    <span class="fas fa-folder"></span>
                </button>
            </li>
            <li class="vr" style="margin-left: 2px"></li>
            <li>
                <button title="create new BPMN diagram" jsaction="click:bio.createNew">
                    <span class="fas fa-plus-circle"></span>
                </button>
            </li>
        </ul>
    
        <ul class="io-export io-control io-control-list io-horizontal">
            <li>
                <a target="_blank" href="" class="download" title="download BPMN diagram" jswidget="downloadDiagram"
                    data-track="diagram:download-bpmn">
                    <span class="fas fa-download"></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="" class="download" title="download as SVG image" jswidget="downloadSVG"
                    data-track="diagram:download-svg">
                    <span class="fas fa-image"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="io-editing-tools" jswidget="editing-tools" style="display: block;">
        <ul class="io-control-list io-horizontal">
            <!-- <li class="io-control">
                <button title="Toggle keyboard shortcuts overlay" jsaction="click:bio.showKeyboard">
                    <span class="fas fa-keyboard"> </span>
                </button>
            </li> -->
            <li class="io-control">
                <button title="Toggle Fullscreen" jsaction="click:bio.toggleFullscreen">
                    <span class="fas fa-arrows-alt-v"> </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="io-zoom-controls">
        <ul class="io-zoom-reset io-control io-control-list">
            <li>
                <button title="reset zoom" jsaction="click:bio.zoomReset">
                    <span class="fas fa-crosshairs"></span>
                </button>
            </li>
        </ul>
    
        <ul class="io-zoom io-control io-control-list">
            <li>
                <button title="zoom in" jsaction="click:bio.zoomIn">
                    <span class="fas fa-plus"></span>
                </button>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <button href="" title="zoom out" jsaction="click:bio.zoomOut">
                    <span class="fas fa-minus"></span>
                </button>
            </li>
        </ul>
    </div>

  </body>
</html>